In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('titanic.csv')
df.head()
df.shape #2. Посмотреть сколько в нем строк и столбцов
df.dtypes #3. Определить какой тип данных имеют столбцы
df.isnull().sum() #Проверить есть ли в файле пустые значения

df[(df['sex'] == 'female') & (df['fare']>150)] #2. Показать ывживший (survived) девушек со стоиомостью билета >150

df[['pclass', 'survived']] #3. Показать данные в первых 2 столбцах

df[((df['pclass'] == 3)&(df['survived'] == 1)) | ((df['pclass'] == 1)&(df['survived'] == 0))] #4. выживших из третьего класса (Pclass) и невыживших из 1-го

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
7,1.0,0.0,"Andrews, Mr. Thomas Jr",male,39.0,0.0,0.0,112050,0.0000,A36,S,NaN,NaN,"Belfast, NI"
9,1.0,0.0,"Artagaveytia, Mr. Ramon",male,71.0,0.0,0.0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1261,3.0,1.0,"Turkula, Mrs. (Hedwig)",female,63.0,0.0,0.0,4134,9.5875,NaN,S,15,NaN,NaN
1277,3.0,1.0,"Vartanian, Mr. David",male,22.0,0.0,0.0,2658,7.2250,NaN,C,13 15,NaN,NaN
1286,3.0,1.0,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38.0,0.0,0.0,2688,7.2292,NaN,C,C,NaN,NaN
1290,3.0,1.0,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1.0,0.0,363272,7.0000,NaN,S,NaN,NaN,NaN
1300,3.0,1.0,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.0,1.0,0.0,2659,14.4542,NaN,C,NaN,NaN,NaN

In [5]:
df[(df['sex'] == 'female') & (df['fare']>150)] #2. Показать ывживший (survived) девушек со стоиомостью билета >150

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
11,1.0,1.0,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.0,1.0,0.0,PC 17757,227.5250,C62 C64,C,4,NaN,"New York, NY"
17,1.0,1.0,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0,0.0,1.0,PC 17558,247.5208,B58 B60,C,6,NaN,"Montreal, PQ"
23,1.0,1.0,"Bidois, Miss. Rosalie",female,42.0,0.0,0.0,PC 17757,227.5250,NaN,C,4,NaN,NaN
24,1.0,1.0,"Bird, Miss. Ellen",female,29.0,0.0,0.0,PC 17483,221.7792,C97,S,8,NaN,NaN
32,1.0,1.0,"Bonnell, Miss. Caroline",female,30.0,0.0,0.0,36928,164.8667,C7,S,8,NaN,"Youngstown, OH"
35,1.0,1.0,"Bowen, Miss. Grace Scott",female,45.0,0.0,0.0,PC 17608,262.3750,NaN,C,4,NaN,"Cooperstown, NY"
50,1.0,1.0,"Cardeza, Mrs. James Warburton Martinez (Charlo...",female,58.0,0.0,1.0,PC 17755,512.3292,B51 B53 B55,C,3,NaN,"Germantown, Philadelphia, PA"
66,1.0,1.0,"Chaudanson, Miss. Victorine",female,36.0,0.0,0.0,PC 17608,262.3750,B61,C,4,NaN,NaN
73,1.0,1.0,"Cleaver, Miss. Alice",female,22.0,0.0,0.0,113781,151.5500,NaN,S,11,NaN,NaN
88,1.0,1.0,"Daniels, Miss. Sarah",female,33.0,0.0,0.0,113781,151.5500,NaN,S,8,NaN,NaN
97,1.0,1.0,"Douglas, Mrs. Frederick Charles (Mary Helene B...",female,27.0,1.0,1.0,PC 17558,247.5208,B58 B60,C,6,NaN,"Montreal, PQ"
103,1.0,1.0,"Endres, Miss. Caroline Louise",female,38.0,0.0,0.0,PC 17757,227.5250,C45,C,4,NaN,"New York, NY"
111,1.0,1.0,"Fortune, Miss. Alice Elizabeth",female,24.0,3.0,2.0,19950,263.0000,C23 C25 C27,S,10,NaN,"Winnipeg, MB"
112,1.0,1.0,"Fortune, Miss. Ethel Flora",female,28.0,3.0,2.0,19950,263.0000,C23 C25 C27,S,10,NaN,"Winnipeg, MB"
113,1.0,1.0,"Fortune, Miss. Mabel Helen",female,23.0,3.0,2.0,19950,263.0000,C23 C25 C27,S,10,NaN,"Winnipeg, MB"
116,1.0,1.0,"Fortune, Mrs. Mark (Mary McDougald)",female,60.0,1.0,4.0,19950,263.0000,C23 C25 C27,S,10,NaN,"Winnipeg, MB"
129,1.0,1.0,"Geiger, Miss. Amalie",female,35.0,0.0,0.0,113503,211.5000,C130,C,4,NaN,NaN
139,1.0,1.0,"Graham, Mrs. William Thompson (Edith Junkins)",female,58.0,0.0,1.0,PC 17582,153.4625,C125,S,3,NaN,"Greenwich, CT"
180,1.0,1.0,"Kreuchen, Miss. Emilie",female,39.0,0.0,0.0,24160,211.3375,NaN,S,2,NaN,NaN
193,1.0,1.0,"Madill, Miss. Georgette Alexandra",female,15.0,0.0,1.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
238,1.0,1.0,"Robert, Mrs. Edward Scott (Elisabeth Walton Mc...",female,43.0,0.0,1.0,24160,211.3375,B3,S,2,NaN,"St Louis, MO"
250,1.0,1.0,"Ryerson, Miss. Emily Borie",female,18.0,2.0,2.0,PC 17608,262.3750,B57 B59 B63 B66,C,4,NaN,"Haverford, PA / Cooperstown, NY"
251,1.0,1.0,"Ryerson, Miss. Susan Parker ""Suzette""",female,21.0,2.0,2.0,PC 17608,262.3750,B57 B59 B63 B66,C,4,NaN,"Haverford, PA / Cooperstown, NY"
253,1.0,1.0,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1.0,3.0,PC 17608,262.3750,B57 B59 B63 B66,C,4,NaN,"Haverford, PA / Cooperstown, NY"
260,1.0,1.0,"Shutes, Miss. Elizabeth W",female,40.0,0.0,0.0,PC 17582,153.4625,C125,S,3,NaN,"New York, NY / Greenwich CT"
286,1.0,0.0,"Straus, Mrs. Isidor (Rosalie Ida Blun)",female,63.0,1.0,0.0,PC 17483,221.7792,C55 C57,S,NaN,NaN,"New York, NY"
302,1.0,1.0,"Ward, Miss. Anna",female,35.0,0.0,0.0,PC 17755,512.3292,NaN,C,3,NaN,NaN
309,1.0,1.0,"Wick, Miss. Mary Natalie",female,31.0,0.0,2.0,36928,164.8667,C7,S,8,NaN,"Youngstown, OH"
311,1.0,1.0,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0,1.0,1.0,36928,164.8667,NaN,S,8,NaN,"Youngstown, OH"
314,1.0,1.0,"Widener, Mrs. George Dunton (Eleanor Elkins)",female,50.0,1.0,1.0,113503,211.5000,C80,C,4,NaN,"Elkins Park, PA"